<div class="container-fluid">

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <ul class="list-group" style="list-style-type: none">
        <li 
          *ngFor="let item of drinkArr, let i = index"
          class="list-group-item clearfix listItem">
          <button class="btn-btn-primary pull-right" (click)="onDelete(i)">X</button>
         <div>
            <h4 class="list-group-item-heading pull-left drinkName">
                {{ item.name }}
            </h4>
            <img 
              [src]="item.path" 
              [alt]="item.name"
              class="img-responsive pull-right"
              style="max-height: 100px">
         </div>
        </li>
       
      </ul>
    </div>
  </div>

</div>